$td-pink: #f36;
$td-white: #fff;
$td-black: #000;
$td-off-black: rgba(0, 0, 0, 0.9);
$td-slight-off-white: rgba(255, 255, 255, 0.9);
$td-off-white: rgba(255, 255, 255, 0.6);
$td-light-gray: rgba(255, 255, 255, 0.2);
$td-lightest-gray: rgba(255, 255, 255, 0.1);
