$td-pink: #f36;
$td-white: #fff;
$td-black: #000;
$td-off-black: #111;
$td-slight-off-white: #eee;
$td-off-white: #ddd;
$td-light-gray: #aaa;
$td-lightest-gray: #333;
$td-clear-gray: rgba(0, 0, 0, 0.1);
$td-clear-light-white: rgba(255, 255, 255, 0.2);
