@import 'fonts';

html {
  height: 100%;
  font-family: $Lato;
}

body { 
  height: 100%;
  background-image: url("images/overlay.png"), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(90deg, #670d10 0%,#092756 100%);
  background-repeat: repeat,	no-repeat, no-repeat;
  background-size: 100px 100px, cover,	cover;
  background-position: top left, center center, bottom center;
  background-attachment: fixed,	fixed, fixed;
}

button {
  border: none;
  padding: 10px;
  width: 350px;
  height: 50px;
  color: white;
  background-color: blue;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  font-family: $Lato;
}
