@import 'reset';
@import 'fonts';
@import 'colors';

html {
  font-family: 'Lato-Light';
}

body { 
  background-image: url("images/overlay.png"), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(90deg, #670d10 0%,#092756 100%);
  background-repeat: repeat,	no-repeat, no-repeat;
  background-size: 100px 100px, cover,	cover;
  background-position: top left, center center, bottom center;
  background-attachment: fixed,	fixed, fixed;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
}

.main-container {
  margin: 0 auto;
  max-width: 480px;
  min-width: 360px;
}

h2 {
  font-size: 34px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  color: $td-white;
}

.btn-wrap {
  padding: 50px 25px;
}

.btn {
  border: none;
  padding: 20px 0;
  background-color: $td-pink;
  font-size: 20px;
  color: $td-white;
  width: 100%;
  border-radius: 50px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  cursor: pointer;
}

form {
  .lnr-arrow-left {
    display: inline-block;
    margin: 20px 10px;
    font-size: 30px;
  }

  .camera-wrap {
    margin: 50px auto;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;

    .lnr-camera {
      position: absolute;
      font-size: 40px;
      font-weight: 100;
      top: 39px;
      left: 42px;
    }
  }
}

.input-wrap {
  padding-left: 25px;

  h2 {
    margin: 10px 0;
  }

  .lnr {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
  }

  .lnr.left-icon {
    position: absolute;
    left: 0;
    top: 14px;
  }

  .lnr.right-icon {
    position: absolute;
    right: 25px;
    top: 14px;
  }

  .input-wrapper {
    position: relative;
    padding-left: 50px;
    margin-bottom: 25px;
  }

  .input {
    display: inline-block;
    border: none;
    padding: 14px 0 14px 0;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    color: $td-white;
    width: 100%;
    font-size: 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $td-white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $td-white;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $td-white;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $td-white;
    }

    &:focus {
      outline: none;
    }
  }
}

.check-logo {
  display: block;
  margin: 110px auto;
  width: 200px;
}

.bottom-links {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.list-wrap {
  position: relative;
  background-color: $td-white;
  margin-top: 75px;

  .plus-button {
    position: absolute;
    top: -30px;
    right: 15px;
    font-size: 50px;
    background-color: $td-pink;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    color: $td-white;
    border-radius: 100%;
    z-index: 100;
    cursor: pointer;
  }

  .list-item-wrap {
    position: relative;
    height: 85px;
    font-size: 20px;
    line-height: 85px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 90px;
  }

  .item-circle {
    position: absolute;
    top: 25px;
    left: 35px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ccc;
    cursor: pointer;
  }

  .lnr-checkmark-circle {
    position: absolute;
    top: 25px;
    left: 34px;
    font-size: 34px;
    cursor: pointer;
  }

  .lnr-trash {
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
  }

  .list-item-input {
    border: none;
    background-color: transparent;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $td-white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $td-white;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $td-white;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $td-white;
    }

    &:focus {
      outline: none;
    }
  }
}

.mg-left-25 {
  margin-left: 25px;
}

.mg-top-10 {
  margin-top: 10px;
}
