<form>
  <a href="/signin"><span class="lnr lnr-arrow-left"></span></a>

  <h2 class="mg-left-25">To Do List</h2>
  <div class="list-wrap">
    <span class="plus-button">+</span>
    <div class="list-item-wrap">
      <span class="item-circle"></span>
      <span class="item-check"></span>
      <span class="list-item-text">Carrots</span>
      <span class="item-star"></span>
    </div>
    <div class="list-item-wrap">
      <span class="item-circle"></span>
      <span class="item-check"></span>
      <span class="list-item-text">Carrots</span>
      <span class="item-star"></span>
    </div>
    <div class="list-item-wrap">
      <span class="item-circle"></span>
      <span class="item-check"></span>
      <span class="list-item-text">Carrots</span>
      <span class="item-star"></span>
    </div>
    <div class="list-item-wrap">
      <span class="item-circle"></span>
      <span class="item-check"></span>
      <span class="list-item-text">Carrots</span>
      <span class="item-star"></span>
    </div>
</form>
