<form>
  <a href="/signin"><span class="lnr lnr-arrow-left"></span></a>
  <div class="input-wrap">
    <h2>New Account</h2>
    <div class="camera-wrap">
      <span class="lnr lnr-camera"></span>
    </div>
    <div class="input-wrapper"><span class="lnr lnr-user left-icon"></span><input class="input" type="text" ng-model="userValues.email" placeholder="Username" /></div>
    <div class="input-wrapper"><span class="lnr lnr-envelope left-icon"></span><input class="input" type="text" ng-model="userValues.username" placeholder="Username" /></div>
    <div class="input-wrapper"><span class="lnr lnr-lock left-icon"></span><input class="input" type="password" ng-model="userValues.password" placeholder="Password" /></span></div>
    <div class="input-wrapper"><span class="lnr lnr-lock left-icon"></span><input class="input" type="password" ng-model="userValues.password" placeholder="Password Confirmation" /></span></div>
  </div>
  <div class="btn-wrap">
    <button class="btn" ng-click="" type=submit>Create</button>
  </div>
</form>
